<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        [src]="
          agent.imagePath || 'https://bulma.io/images/placeholders/1280x960.png'
        "
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title black is-4">{{ agent.name }} {{ agent.lastname }}</p>
        <p class="subtitle black is-6">{{ agent.email }}</p>
      </div>
    </div>

    <div class="content">
      <p><strong>Company: </strong>{{ agent.company }}</p>
      <p><strong>Phone: </strong>{{ agent.phone }}</p>
      <p>Available to work for you now</p>
      <a>@bulmaio</a>. <a href="#">#PH</a>
      <a href="#">#Hunters</a>
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
